h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
}

#cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#Todo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.badge {
  margin: 10px;
  padding: 10px;
}
