<div id="cards">
  <h1>
    {{ title }}
  </h1>
  <div id="formItem">
    <form>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="i am going to..." id="item" name="item" [(ngModel)]="itemValue">
      </mat-form-field>
      <button mat-button (click)="add()"><i class="material-icons">add</i></button>
      <button mat-button type="submit" (click)="delete()"><i class="material-icons">delete</i></button>
    </form>
  </div>

  <div id="Todo-list">
    <h2>Todo list (<span id="count">{{ count }}</span>)</h2>

    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of items">
        <mat-checkbox (change)="select($event, item)">{{ item.content}}</mat-checkbox>
        <i class="material-icons badge" *ngIf="item.done === true">
          done
        </i>
      </mat-list-item>
    </mat-list>

  </div>
</div>
